.retry h1{
    font-size: 3.5em;
}

.retry p {
    margin-bottom: 2em;
    color: #ecfa00;
}
.retry h2{
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
}
.retry h2 span{
    color: #ecfa00;
    font-size: 1.5em;
}