.Game h1 {
    font-size: 3.5em;
    margin: 1em 0;
}

.point p {
    font-weight: 700;
}

.tip span {
    margin-left: .5em;
    color: var(--cor-texto-enfase);
    text-transform: uppercase;
}

.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 1em solid var(--cor-texto-enfase);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.latter,
.branckSquare {
    font-size: 70px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: #fff;
    color: #000;

}

.latterContainer p {
    margin-bottom: 1.2em;
}

.latterContainer form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom:  1.2em;

}
.latterContainer input{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 2em;

}
.wongLatterContainer span{
    color: var(--cor-texto-enfase)
}